/* IMPORT CUSTOM FONTS FROM THE GAME REPO */
@font-face {
    font-family: 'squadron';
    src: url('https://raw.githubusercontent.com/escalona-mj/AlarmingAsylum/main/game/fonts/SuicideSquadron-rX0B.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'co2';
    src: url('https://raw.githubusercontent.com/escalona-mj/AlarmingAsylum/main/game/fonts/Co2-wdOx.ttf') format('truetype');
    font-style: normal;
}

*{
    scroll-behavior: smooth; /* mmm smooth buttery scrolling */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    text-decoration: none;
}

p{
    font-size: 30px;
}

h1{
    font-family: 'co2';
    font-size: 60px;
    font-weight: normal;
    transition: all 0.4s ease;
}

h1:hover{
    color: #ffcf00;
}

body{
    background: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'squadron';
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    padding: 3em 6em;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(255,255,255,0) 100%);
}

ul.nav{
    display: flex;
}

img.team_logo{
    height: 30px;
    width: auto;
}

.nav a{
    margin-left: 60px;
    font-size: 25px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease;
}

.nav a:hover{
    border-bottom: 2px solid #ffcf00;
}

a.btnDownload{
    font-family: 'squadron';
    border: 0px;
    cursor: pointer;
    padding: 15px 20px;

    border-radius: 10px;
    border: 2px solid rgb(255, 207, 0, 0.25);
}

a.btnDownload:hover{
    background-color: #ffcf00;
    border: 2px solid #ffcf00;
    color: black;
}

#hamburger{
    cursor: pointer;
    display: none;
}

.scroll-down{
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1;
}
.scroll-down i{
    padding: 12px;
    display: block;
    font-size: 45px;
    transition: all 0.4s ease;
    color:rgba(255, 255, 255, 0.5);
}
.scroll-down i:hover{
    color:rgba(255, 255, 255, 1);
    transform: translateY(5px);
}

section.home{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    padding: 0px 6em;
    align-content: center;
}

.home-logo{
    text-align: center;
}

.home-text{
    text-align: center;
}

.home-text p{
    font-size: 35px;
    padding: 0 4em;
}

.home-text h5{
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    font-size: 15px;
}

.home-text h5 i{
    color: #ffcf00;
    margin-right: 5px;
}

.home-text .btnDownload_mobile{
    display: none;
}

img.logo{
    width: 65%;
}

.hero-video{
    text-align: center;
}

.hero-video video{
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 5px;
    
    height: auto;
    width: 600px;
    
    pointer-events: none;
    transition: all 0.4s ease;
}

section.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0px 6em;
    gap: 5em;
}

section.hero#sect2{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    padding: 0px 6em;
    gap: 5em;
}

section.about {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: auto;
    padding: 0px 6em;
    align-content: space-evenly;
    justify-content: center;
}

.about-header{
    font-size: 45px;
    font-family: 'squadron';
    text-align: center;
}

.parent-profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.profile{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 25% 1fr;
    padding: 2em;
    transition: all 0.4s ease;
    
}

.profile:hover{
    background-color: rgb(255, 207, 0, 0.25);
}

.pfpic {
    align-content: center;
}

.pfp{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.profile h1{
    font-size: 40px;
}


.profile-desc{
    display: grid;
    align-content: center;
}

.footer{
    text-align: center;
    /* background-color: black; */
    padding: 15px 0px;
    width: 100%;

}

.footer p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
}

.footer i{
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}

/* smoller laptops */

@media (max-width: 1160px){
    .home-text p{
        font-size: 25px;
        padding: 0 0em;
    }
    .hero-video video{
        width: 400px;
    }

    h1{
        font-size: 50px;
    }
    
    .hero-text a{
        font-size: 25px;
    }
    
    .hero-text a i{
        font-size: 25px;
    }
}

/* tablets */
@media (max-width: 920px){
    .btnDownload{
        display: none;
    }
    .home-text .btnDownload_mobile{
        text-align: center;
        display: block;
        font-family: 'squadron';
        font-size: 35px;
        border: 5px solid transparent;
        cursor: pointer;
        padding: 20px 10px;
        width: 50%;
        margin: 10px 25%;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        

        transition: all 0.4s ease;
    }

    .home-text .btnDownload_mobile:hover{
        background-color: rgb(255, 207, 0, 0.25);
    }
}

@media (max-width: 871px){
    img.team_logo{
        height: 25px;
        width: auto;
        z-index: 1;
    }
    header{
        padding: 2em;   
    }
    #hamburger{
        display: block;
        z-index: 1;
    }
    .nav{
        z-index: -5;
        font-family: 'co2';
        top: 0%;
        right: -100%;
        width: 100%;
        height: 100vh;
        align-items: center;
        flex-direction: column;
        padding: 100px 20px 20px 20px;
        position: absolute;
        background: rgba(19, 19, 19, 0.9);
        backdrop-filter: blur(5px);
        transition: all 0.4s ease;
    }
    .nav a{
        display: block;
        margin: 10px 0px;
    }
    .nav.open{
        right: 0%;
    }
    
    a.btnDownload{
        display: none;
    }
    .hero-text{
        text-align: center;
    }
    .hero-video video{
        width: 500px;
    }
    section.hero{
        grid-template-columns: auto;
        align-content: center;
        gap: 3em;
    }
    section.hero#sect2{
        grid-template-columns: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 3em;
    }
    .about-header{
        padding-top: 2em;
        font-size: 35px;
        font-family: 'squadron';
        text-align: center;
    }
}

/* mobile devices */

@media (max-width: 650px){
    img.logo{
        width: 400px;
    }
    .hero-text{
        text-align: center;
    }
    .hero-video video{
        width: 350px;
    }
    section.hero{
        padding: 0 1em;
    }
    section.hero#sect2{
        padding: 0 1em;
    }
    section.home{
        padding: 0 1em;
    }
    section.about{
        padding: 0em 1em;
        gap: 3em;
    }
}

@media (max-width: 500px){
    img.logo{
        width: 300px;
    }
    .hero-video video{
        width: 300px;
    }
}

/* ABOUT SECTION */
@media (max-width: 1220px) {
    .parent-profile{
        display: grid;
        grid-template-columns: auto;
    }
    .about-header{
        padding-top: 2em;
    }
}

@media (max-width: 650px){
    .parent-profile{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .profile{
        text-align: center;
        justify-items: center;
        grid-template-columns: auto;
        padding: 2em;
    }
    
}